[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-role-algosec = {editable = true,path = "."}

[dev-packages]
"flake8" = "*"
mock = "*"
vcrpy = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "2.7"
